    <div class="form-group row">
        <label class="col-sm-3 col-form-label mt-2">Customer Name</label>
        <div class="col-sm-9 mt-2">
            <input type="text" class="form-control" ng-required="true" [(ngModel)]="customerName"
            placeholder="Enter Customer Name" id="name">
        </div>
        <label class="col-sm-3 col-form-label mt-4">Telephone Number</label>
        <div class="col-sm-9 mt-4">
            <input type="number" maxlength="9" minlength="9" class="form-control" ng-required="true" [(ngModel)]="phoneNumber"
            placeholder="Enter 9 Digit Telephone Number" id="telephone" name="telephone">
        </div>
        <label class="col-sm-3 col-form-label mt-4">Address</label>
        <div class="col-sm-9 mt-4">
            <input type="text" class="form-control" ng-required="true" [(ngModel)]="address"
            placeholder="Enter Address" id="address">
        </div>
        <label class="col-sm-3 col-form-label mt-4">Email</label>
        <div class="col-sm-9 mt-4">
            <input type="email" class="form-control" ng-required="true" [(ngModel)]="email"
            placeholder="Enter Email" id="email">
        </div>
    </div>


<button (click)="addCustomer()" *ngIf="cus.customerID==''" class="btn btn-primary mt-2">
    Add
</button>

<button (click)="updateCustomer()" *ngIf="cus.customerID>0" class="btn btn-primary">
    Update
</button>
